* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 3.6rem;
  width: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.5;
}
.logo {
  fill: white;
  margin: 0 1.1rem 0 0.6rem;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.list {
  margin-right: 1.1rem;
}
.form {
  background-color: black;
  color: gray;
  width: 15rem;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 0.3rem;
  margin-right: 1.1rem;
}
::placeholder {
  color: grey;
}
.container {
  max-width: 120rem;
  /*background-color: red;*/
  padding: 3rem 0 0 3rem;
}
.avtar {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
.username {
  margin-top: 1rem;
}
.description {
  margin-top: 1rem;
  width: 15rem;
}
.description,
.nickname {
  color: grey;
}

.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: 1fr 3fr;
}
.inner-nav {
  list-style: none;
  display: flex;
  color: black;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}
.section-nav {
  border-bottom: 1px solid grey;
}

.list {
  margin-right: 3rem;
}

section nav ul svg {
  margin-right: 0.5rem;
}
.search {
  margin-top: 1rem;
  margin-right: 5rem;
  border-bottom: 1px solid gray;
}
.search-form {
  margin-bottom: 1rem;
}
.search-repo {
  background-color: white;
  color: gray;
  width: 70rem;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 0.3rem;
  margin-right: 1.1rem;
}
.result {
  color: gray;
}
.repo-title {
  color: #0969da;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}
.repo-title-flex {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: red;
  align-items: center;
}
.button-star {
  color: gray;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 7px;
  background-color: transparent;
  border: 0.1rem solid;
}
.star-symbol {
  margin-right: 00.3rem;
}
.update-text {
  list-style: none;
  display: flex;
  color: black;
  align-items: center;
}
.update-text-list {
  margin-right: 1.1rem;
}
.html-icon {
  height: 0.8rem;
  width: 0.8rem;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.Javascript-icon {
  height: 0.8rem;
  width: 0.8rem;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}
.star-icon {
  margin-right: 0.5rem;
}
.fork-icon {
  margin-right: 0.5rem;
}
.repo-text {
  margin-bottom: 0.5rem;
}
