* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header {
  display: flex;
  align-items: center;
  background-color: black;
  height: 3.6rem;
  width: 100%;
}
.logo {
  fill: white;
  margin: 0 1.1rem 0 0.6rem;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}
.list {
  margin-right: 1.1rem;
}
.form {
  background-color: black;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 0.3rem;
  margin-right: 1.1rem;
}
::placeholder {
  color: grey;
}
.container {
  max-width: 120rem;
  /*background-color: red;*/
  padding: 3rem 0 0 3rem;
}
.avtar {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
}
.username {
  margin-top: 1rem;
}
.description {
  margin-top: 1rem;
}
.description,
.description1,
.nickname {
  color: grey;
}

.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: 1fr 3fr;
}
.inner-nav {
  list-style: none;
  display: flex;
  color: black;
  align-items: center;
  margin-top: 3rem;
}
.inner-list {
  margin-right: 3rem;
}
section nav ul svg {
  margin-right: 0.5rem;
}
